h3,a,h2{
  font-family: 'Times New Roman', Times, serif;
  color:#000000;

}
body {
  
  line-height: 1.6;
  background-color: rgba(37, 106, 106, 0.2);
  text-align: left;

}
h2{

  font-size:20px;
  font-weight: 700;
  
}
img {
  border-radius: 30%;
  width: 200px;
  height: auto;
  object-fit: contain;
}
